<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>Peace of mind from prototype to production</p>
</section>

<div class="flex flex-wrap my-4 ml-4">
  <div class="w-32 h-16 bg-green-200 p-2">
    Tab 1
  </div>
  <div class="w-32 h-16 bg-blue-200 p-2">
    Tab 2
  </div>
  <div class="w-32 h-16 bg-red-200 p-2">
    Tab 3
  </div>
  <div class="w-32 h-16 bg-violet-200 p-2">
    Tab 4
  </div>
</div>

